<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                'header',
                                                'sidebar',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">
<head>
  <meta charset="UTF-8">
  <title>Sản phẩm bán chạy</title>
  <style>
    .promotion-box {
      border: 1px solid #cccccc;
    }
    #addToTable {
      background-color: #007bff !important; /* Thay đổi màu theo ý bạn */
      color: white !important;
    }
    .btn-add {
      background-color: #007bff !important; /* Màu nền */
      color: white !important; /* Màu chữ */
    }
  </style>
  <!--    <th:block id="css-resources">-->
  <!--        <link rel="stylesheet" th:href="@{/adminlte/pagination/simplePagination.css}">-->
  <!--    </th:block>-->
</head>
<body>
<section role="main" class="content-body" id="main-content">

  <section class="card">
    <header class="card-header">
      <div class="card-actions">
        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
      </div>
      <h2 class="card-title">Danh sách sản phẩm bán chạy</h2>
    </header>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div id="searchForm">
            <form method="GET" id="search-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Tên sản phẩm</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Tên sản phẩm">
                </div>
                <div class="form-group col-md-6">
                  <label for="size">Size</label>
                  <input type="text" class="form-control" id="size" name="size" placeholder="Nhập kích cỡ">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="color">Màu sắc</label>
                  <input type="text" class="form-control" id="color" name="color" placeholder="Màu sắc">
                </div>
              </div>
              <div class="flex justify-content-end">
                <button id="btn-search" class="btn btn-dark">Tìm kiếm <i
                        class="fas fa-search"></i></button>
              </div>
              <input type="hidden" name="page" id="page">
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên sản phẩm</th>
              <th>Link</th>
              <th>Tên size</th>
              <th>Tên màu</th>
              <th>Danh mục</th>
              <th>Số lượng bán</th>
              <th>Doanh thu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="emp, start: ${list}">
              <td th:text="${start.index+1}"></td>
              <td th:text="${emp.productName}"></td>
              <td th:text="${emp.link}"></td>
              <td th:text="${emp.nameSize}"></td>
              <td th:text="${emp.color}"></td>
              <td th:text="${emp.categoryName}"></td>
              <td th:text="${emp.numOfSale}"></td>
              <td th:text="${emp.revenue}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination">
        </ul>
      </nav>
    </div>
  </section>



</section>

<th:block id="js-resources">
  <script type="text/javascript" th:src="@{/adminlte/pagination/jquery.simplePagination.js}"></script>
  <script type="text/javascript" th:src="@{/adminlte/js/table.js}"></script>
  <script th:inline="javascript">
    let name, color, size, page;

    $(function () {
      let vars = parseUrl();
      name = vars["name"] || ""
      color = vars["color"] || ""
      size = vars["size"] || ""
      page = vars["page"] || "1"

      $('#name').val(name)
      $('#color').val(color)
      $('#size').val(size)
      $('#page').val(page)

      pagination([[${totalPages}]], [[${currentPage}]]);
    });
  </script>

</th:block>
</body>
</html>
